doctype html
html
  head
    title test
    link(rel="stylesheet", href="main-sass.css")
    link(rel="stylesheet", href="main-less.css")
  body
    hello
    include ./index/stuff.jade
    script(src="app.js")


